In [2]:
from datetime import datetime
import pandas as pd
import time
import numpy as np

In [3]:
from transformacion_datos import ejecutar_transformacion_y_unificacion_de_dataframes

In [4]:
carpeta = 'molinetes-2023/'

start_time = time.time()

# Llamar a la función para crear el DataFrame
ejecutar_transformacion_y_unificacion_de_dataframes(carpeta)

# Medir el tiempo de finalización
end_time = time.time()

# Calcular la diferencia de tiempo
execution_time = end_time - start_time

# Imprimir el tiempo de ejecución
print(f"Tiempo de ejecución: {execution_time} segundos")

molinetes-2023/202301_PAX15min-ABC.csv
0
primer (589514, 13)
molinetes-2023/202301_PAX15min-DEH.csv
1
!=0 (1033967, 13)
molinetes-2023/202302_PAX15min-ABC.csv
2
!=0 (1555803, 13)
molinetes-2023/202302_PAX15min-DEH.csv
3
!=0 (1949108, 13)
molinetes-2023/202303_PAX15min-ABC.csv
4
!=0 (2523333, 13)
molinetes-2023/202303_PAX15min-DEH.csv
5
!=0 (2974798, 13)
molinetes-2023/202304_PAX15min-ABC.csv
6
!=0 (3490856, 13)
molinetes-2023/202304_PAX15min-DEH.csv
7
!=0 (3909038, 13)
molinetes-2023/202305_PAX15min-ABC.csv
8
!=0 (4462528, 13)
molinetes-2023/202305_PAX15min-DEH.csv
9
!=0 (4889118, 13)
molinetes-2023/202306_PAX15min-ABC.csv
10
!=0 (5462553, 13)
molinetes-2023/202306_PAX15min-DEH.csv
11
!=0 (5888260, 13)
molinetes-2023/202307_PAX15min-ABC.csv
12
!=0 (6486628, 13)
molinetes-2023/202307_PAX15min-DEH.csv
13
!=0 (6927088, 13)
molinetes-2023/202308_PAX15min-ABC.csv
14
!=0 (7512311, 13)
molinetes-2023/202308_PAX15min-DEH.csv
15
!=0 (7948618, 13)
molinetes-2023/202309_PAX15min-ABC.csv
16
!=0 (8527160, 13)
molinetes-2023/202309_PAX15min-DEH.csv
17
!=0 (8966895, 13)
molinetes-2023/202310_PAX15min-ABC.csv
18
!=0 (9544889, 13)
molinetes-2023/202310_PAX15min-DEH.csv
19
!=0 (9989693, 13)
Forma del DataFrame final: (0, 0)
Tiempo de ejecución: 915.8418307304382 segundos

In [9]:
dataframes_lineas=pd.read_csv('df_final_name.csv',sep=",")

In [11]:
dataframes_lineas.head(1)

,FECHA,DESDE,HASTA,LINEA,MOLINETE,ESTACION,pax_pagos,pax_pases_pagos,pax_franq,pax_TOTAL,RANGO,HORA,HORA_RANGO
0,1/1/2023,07:45:00,08:00:00,LineaB,LineaB_Alem_S_Turn04,Leandro N. Alem,0,0,2,2,07:45:00-08:00:00,1900-01-01 07:45:00,07:00:00

In [12]:
dataframes_lineas.columns

Index(['FECHA', 'DESDE', 'HASTA', 'LINEA', 'MOLINETE', 'ESTACION', 'pax_pagos',
       'pax_pases_pagos', 'pax_franq', 'pax_TOTAL', 'RANGO', 'HORA',
       'HORA_RANGO'],
      dtype='object')

In [13]:
dataframes_lineas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9989693 entries, 0 to 9989692
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   FECHA            object
 1   DESDE            object
 2   HASTA            object
 3   LINEA            object
 4   MOLINETE         object
 5   ESTACION         object
 6   pax_pagos        int64
 7   pax_pases_pagos  int64
 8   pax_franq        int64
 9   pax_TOTAL        int64
 10  RANGO            object
 11  HORA             object
 12  HORA_RANGO       object
dtypes: int64(4), object(9)
memory usage: 990.8+ MB

In [14]:
dataframes_lineas.isnull().sum()

FECHA              0
DESDE              0
HASTA              0
LINEA              0
MOLINETE           0
ESTACION           0
pax_pagos          0
pax_pases_pagos    0
pax_franq          0
pax_TOTAL          0
RANGO              0
HORA               0
HORA_RANGO         0
dtype: int64